.section {
    margin: 0 auto;
    width: 1440px;
    padding: 0 2rem;
}
@media (max-width: 1440px) {
    .section {
        width: 100%;
        padding: 0 1rem;
    }
}

.heroContainer {
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
}
.tag {
    margin: 0 auto;
    display: inline-flex;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    background-color: var(--color-card);
    border-radius: 24px;
    border: 1px solid var(--color-border);
}
.tagIcon {
    color: var(--color-orange);
}
.tagLabel {
    color: var(--color-orange); 
    font-weight: 500;
}
.title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
}
.subtitle {
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-muted);
    max-width: 1200px;
}
.heroContainerbuttonContainer {
    margin: 0 auto;
    display: flex;
    gap: 0.5rem;
}
.statsContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; /* Optional: allows wrapping on smaller screens */
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.statsCard {
    width: 250px; /* or flex: 1 1 250px; */
    padding: 1rem;
    background-color: var(--color-card);
    border: 1px solid var(--color-border);
    border-radius: 12px;
}