.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: var(--color-card);
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}
.cardHeader {
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    gap: 0.5rem;
}
.icon {
    width: 2rem;
    height: 2rem;
    color: var(--color-orange);
    margin: auto 0;
}
.cardContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cardfooter {
    display: flex;
    flex-direction: column;
}
.tableContainer {
    border-radius: 12px;
    border: 1px solid var(--color-border);
}
.subtitle {
    color: var(--color-muted);
}

.utilities {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.statCard {
    width: 100%;
    background-color: var(--color-card);
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;

    justify-content: center;
}
.statContainer {
    display: flex;
    width: 100%;
    gap: 1rem;

    justify-content: right;
}
.filterContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    background-color: var(--color-card);
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 12px;


}
.sectionLoading {
    margin-top: 4.75rem;
    margin-bottom: 100vh;
}
@media (max-width: 768px) {
    .statContainer {
width: 100%;
}
    .utilities {
        display: flex;
        gap: 1rem;
        flex-direction: column-reverse;
    }
    .statCardTitle {
        font-size: 1.5rem;
    }
}
