.container {
    padding: 1rem;
    background-color: var(--color-background);
    border-radius: 12px;
    width: 100%;
}

.accordionList {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 12px;
    overflow: hidden;
}
.accordionHeader {
    padding: 1rem;
    border: none;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-background);
    width: 100%;

    font-weight: 600;
    font-size: 1rem;

    color: var(--color-text);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;



}

.accordionHeader:hover {
  background-color: var(--color-card);
}

.accordionBody {
  padding: 1rem;
  background-color: var(--color-card);
  border-top: 1px solid var(--color-border);
}
